<%= link_to 'Zurück', :back %>
<p>
  <% if @pdf.present? %>
      <%= link_to 'Fertige PDF öffnen', slides_download_pdf_url(pdf: @pdf), target: '_blank' %>
  <% end %>
</p>

<% @content.each do |f| %>
  <div>
    <p>Slide-No: <%= f[1][:slide_number] %></p>
    <p>Titel: <%= f[1][:slide_title] %></p>
    <p>Kommentar: <%= f[1][:slide_comment] %></p>
    <p>Notes: <%= f[1][:slide_notes] %></p>
    <% f[1][:links].each do |key, value| %>
        <p>Link-Anzeigename: <%= value %></p>
        <p>Link-Ziel: <%= key %></p>
    <% end %>
    <% if f[1][:with_narration] %>
      <p>Narration: <%= audio_tag(f[1][:narration], controls: true) %></p>
    <% end %>
    <hr>
  </div>
<% end %>
<%= link_to 'Zurück', :back %>